* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("../src/assets/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf")
        format("truetype");
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}

body {
    padding: 1rem;
    background-color: #282726;
    font-family: "Hanken Grotesk", sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main__container {
    width: 100%;
    max-width: 59.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.6rem;
    padding-block: 2.3rem;
}

.top__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 35.2rem;

    h1 {
        font-size: 2rem;
        font-weight: 500;
        color: #f9f4da;
        text-align: center;
    }

    .game__desc {
        font-size: 1.4rem;
        font-weight: 500;
        color: #8e8e8e;
        text-align: center;
    }

    .status__section {
        width: 100%;
        max-width: 35.2rem;
        height: 5.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game__stat {
        width: 100%;
        height: 100%;
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px dashed #000;
    }

    .gone__text {
        font-size: 1.6rem;
        color: #f9f4da;
        font-style: italic;
    }

    .gone {
        background-color: #7a5ea7;
    }

    .game__won {
        background-color: #10a95b;
    }

    .game__lost {
        background-color: #ba2a2a;
    }

    .game__stat__header {
        font-size: 2rem;
        font-weight: 500;
        color: #f9f4da;
    }
    .game__stat__text {
        font-size: 1.6rem;
        font-weight: 500;
        color: #f9f4da;
    }
}

.input__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lang__con {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 26.5rem;
    gap: 0.4rem;
}

.language {
    padding: 0.45rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.3rem;
    color: #f9f4da;
    position: relative;
    overflow: hidden;
}

.inactive::after {
    content: "💀";
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;

    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.html {
    background-color: #e2680f;
}

.css {
    background-color: #328af1;
}

.javascript {
    background-color: #f4eb13;
    color: #1e1e1e;
}

.react {
    background-color: #2ed3e9;
    color: #1e1e1e;
}

.typescript {
    background-color: #298ec3;
}

.nodejs {
    background-color: #599137;
}

.python {
    background-color: #ffd742;
    color: #282726;
}

.ruby {
    background-color: #d02b2b;
}

.assembly {
    background-color: #2d519f;
}

.word__con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin-top: 3.2rem;
}

.letter__disp {
    width: 4rem;
    height: 4rem;
    background-color: #323232;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f9f4da;
    font-size: 1.8rem;
    font-weight: 700;
    color: #f9f4da;
}

.missed__letter {
    color: #ec5d49;
}

.keyboard {
    margin-top: 2.4rem;
    width: 100%;
    max-width: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.alphakey {
    background-color: #fcba29;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 1px solid #d7d7d7;
    border-radius: 0.4rem;
    text-transform: capitalize;
    color: #1e1e1e;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.alphakey:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.green {
    background-color: #10a95b;
}

.orange {
    background-color: #ec5d49;
}

.newgame {
    border: 1px solid #d7d7d7;
    background-color: #11b5e5;
    width: 22.8rem;
    height: 4rem;
    border-radius: 0.4rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1e1e1e;
    cursor: pointer;
}

.sr__only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}
